<a href="https://colab.research.google.com/github/ArianeGomes/ArianeGomes/blob/main/TerrabrasilisAnalyticsAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cat(system('python3 -c "from google.colab import drive\ndrive.mount()"', intern=TRUE), sep='\n', wait=TRUE)

Warning message in system("python3 -c \"from google.colab import drive\ndrive.mount()\"", :
“running command 'python3 -c "from google.colab import drive
drive.mount()"' had status 1”

TRUE

In [ ]:
?system

In [ ]:
install.packages("devtools")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘Rcpp’, ‘httpuv’, ‘xtable’, ‘sourcetools’, ‘later’, ‘promises’, ‘shiny’, ‘downlit’, ‘htmlwidgets’, ‘miniUI’, ‘pkgdown’, ‘profvis’, ‘urlchecker’

In [ ]:
devtools::install_github("terrabrasilis/terrabrasilisAnalyticsAPI")
library(terrabrasilisAnalyticsAPI)

Skipping install of 'terrabrasilisAnalyticsAPI' from a github remote, the SHA1 (8cb7d816) has not changed since last install.
  Use `force = TRUE` to force installation

In [ ]:
apiPath <- "http://terrabrasilis.dpi.inpe.br/dashboard/api/v1/redis-cli/"

In [ ]:
appIdentifier <- list_datasets(apiPath)
appIdentifier

[1] "prodes_cerrado"        "prodes_amazon"         "prodes_legal_amazon"
[4] "prodes_pampa"          "prodes_pantanal"       "prodes_caatinga"
[7] "prodes_mata_atlantica" "prodes_amazon_nf"

In [ ]:
prodesCerrado <- appIdentifier[1]
prodesCerrado

[1] "prodes_cerrado"

In [ ]:
periods <- list_periods(apiPath, prodesCerrado)
periods

   startDate.year startDate.month startDate.day endDate.year endDate.month
1  1500           8               10            2000         7
2  2000           8                1            2002         7
3  2002           8                1            2004         7
4  2004           8                1            2006         7
5  2006           8                1            2008         7
6  2008           8                1            2010         7
7  2010           8                1            2012         7
8  2012           8                1            2013         7
9  2013           8                1            2014         7
10 2014           8                1            2015         7
11 2015           8                1            2016         7
12 2016           8                1            2017         7
13 2017           8                1            2018         7
14 2018           8                1            2019         7
15 2019           8                1            2020         7
16 2020           8                1            2021         7
17 2021           8                1            2022         7
   endDate.day
1  31
2  31
3  31
4  31
5  31
6  31
7  31
8  31
9  31
10 31
11 31
12 31
13 31
14 31
15 31
16 31
17 31

In [ ]:
classes <- list_classes(apiPath, prodesCerrado)
classes

  id name
1 1  deforestation
  description
1 It is the process of complete and permanent disappearance of forests

In [ ]:
locals <- list_locals(apiPath, prodesCerrado)
locals

  gid name
1 1   uf
2 2   mun
3 3   consunit
4 4   indi

In [ ]:
localOfInterest <- list_local_of_interests(apiPath, prodesCerrado)
localOfInterest[402:412,]

   gid  loiname                 codibge loi
1  4152 Arroio-Korá             NA      4
2  4153 Estivadinho             NA      4
3  4154 Nossa Senhora de Fátima NA      4
4  4155 Kanela                  NA      4
5  4156 Utiariti                NA      4
6  4157 Taunay/Ipegue           NA      4
7  4158 Xacriabá                NA      4
8  4159 Morro Branco            NA      4
9  4160 Marechal Rondon         NA      4
10 4161 Umutina                 NA      4
11 4162 Cana Brava/Guajajara    NA      4

In [ ]:
loiUF = dplyr::filter(locals, grepl("uf", name))$gid
loinamesByLoi <- list_localOfInterestByLocal(apiPath, prodesCerrado, loiUF)
loinamesByLoi

   gid  loiname
1  2665 Mato Grosso do Sul
2  2666 Minas Gerais
3  2667 Rondônia
4  2668 Piauí
5  2669 Tocantins
6  2670 Mato Grosso
7  2671 Paraná
8  2672 Pará
9  2673 Goiás
10 2674 Bahia
11 2675 Maranhão
12 2676 São Paulo
13 2677 Distrito Federal

In [ ]:
filters <- list_filters(apiPath, prodesCerrado)
filters

  id type
1 1  fid_area >= 0.01

In [ ]:
data <- get_dataByLocalOfInterest(apiPath,
                                  prodesCerrado,
                                  classes$name,
                                  loinamesByLoi[1,]$gid)

data

Warning message:
“`cols` is now required when using `unnest()`.
ℹ Please use `cols = c(areas)`.”
New names:
• `loi` -> `loi...1`
• `loiname` -> `loiname...2`
• `areas` -> `areas...3`
• `loi` -> `loi...4`
• `loiname` -> `loiname...5`
• `areas` -> `areas...6`
• `loi` -> `loi...7`
• `loiname` -> `loiname...8`
• `areas` -> `areas...9`
• `loi` -> `loi...10`
• `loiname` -> `loiname...11`
• `areas` -> `areas...12`
• `loi` -> `loi...13`
• `loiname` -> `loiname...14`
• `areas` -> `areas...15`
• `loi` -> `loi...16`
• `loiname` -> `loiname...17`
• `areas` -> `areas...18`
• `loi` -> `loi...19`
• `loiname` -> `loiname...20`
• `areas` -> `areas...21`
• `loi` -> `loi...22`
• `loiname` -> `loiname...23`
• `areas` -> `areas...24`
• `loi` -> `loi...25`
• `loiname` -> `loiname...26`
• `areas` -> `areas...27`
• `loi` -> `loi...28`
• `loiname` -> `loiname...29`
• `areas` -> `areas...30`
• `loi` -> `loi...31`
• `loiname` -> `loiname...32`
• `areas` -> `areas...33`
• `loi` -> `loi...34`
• `loiname` -> `loiname...35`
• `areas` -> `areas...36`
• `loi` -> `loi...37`
• `loiname` -> `loiname...38`
• `areas` -> `areas...39`
• `loi` -> `loi...40`
• `loiname` -> `loiname...41`
• `areas` -> `areas...42`
• `loi` -> `loi...43`
• `loiname` -> `loiname...44`
• `areas` -> `areas...45`
• `loi` -> `loi...46`
• `loiname` -> `loiname...47`
• `areas` -> `areas...48`
• `loi` -> `loi...49`
• `loiname` -> `loiname...50`
• `areas` -> `areas...51`

   name           clazz         startDate.year startDate.month startDate.day
1  PRODES CERRADO deforestation 1500           8               10
2  PRODES CERRADO deforestation 2000           8                1
3  PRODES CERRADO deforestation 2002           8                1
4  PRODES CERRADO deforestation 2004           8                1
5  PRODES CERRADO deforestation 2006           8                1
6  PRODES CERRADO deforestation 2008           8                1
7  PRODES CERRADO deforestation 2010           8                1
8  PRODES CERRADO deforestation 2012           8                1
9  PRODES CERRADO deforestation 2013           8                1
10 PRODES CERRADO deforestation 2014           8                1
11 PRODES CERRADO deforestation 2015           8                1
12 PRODES CERRADO deforestation 2016           8                1
13 PRODES CERRADO deforestation 2017           8                1
14 PRODES CERRADO deforestation 2018           8                1
15 PRODES CERRADO deforestation 2019           8                1
16 PRODES CERRADO deforestation 2020           8                1
17 PRODES CERRADO deforestation 2021           8                1
   endDate.year endDate.month endDate.day loi loiname type area
1  2000         7             31          1   2665    1    148558.9206
2  2002         7             31          1   2665    1      5427.5758
3  2004         7             31          1   2665    1      4599.3707
4  2006         7             31          1   2665    1      3019.6246
5  2008         7             31          1   2665    1      1540.7878
6  2010         7             31          1   2665    1       956.4372
7  2012         7             31          1   2665    1       703.9115
8  2013         7             31          1   2665    1       480.2274
9  2014         7             31          1   2665    1       272.5329
10 2015         7             31          1   2665    1       586.6171
11 2016         7             31          1   2665    1       319.6654
12 2017         7             31          1   2665    1       265.0199
13 2018         7             31          1   2665    1       258.6662
14 2019         7             31          1   2665    1       256.3929
15 2020         7             31          1   2665    1       299.3441
16 2021         7             31          1   2665    1       287.6520
17 2022         7             31          1   2665    1       315.0178

In [ ]:
data <- get_dataByParameters(apiPath,
                            prodesCerrado,
                            classes$name,
                            loinamesByLoi[1,]$gid,
                            "2015-01-01",
                            "2021-01-01")

data

Warning message:
“`cols` is now required when using `unnest()`.
ℹ Please use `cols = c(areas)`.”
New names:
• `loi` -> `loi...1`
• `loiname` -> `loiname...2`
• `areas` -> `areas...3`
• `loi` -> `loi...4`
• `loiname` -> `loiname...5`
• `areas` -> `areas...6`
• `loi` -> `loi...7`
• `loiname` -> `loiname...8`
• `areas` -> `areas...9`
• `loi` -> `loi...10`
• `loiname` -> `loiname...11`
• `areas` -> `areas...12`
• `loi` -> `loi...13`
• `loiname` -> `loiname...14`
• `areas` -> `areas...15`

  name           clazz         startDate.year startDate.month startDate.day
1 PRODES CERRADO deforestation 2015           8               1
2 PRODES CERRADO deforestation 2016           8               1
3 PRODES CERRADO deforestation 2017           8               1
4 PRODES CERRADO deforestation 2018           8               1
5 PRODES CERRADO deforestation 2019           8               1
  endDate.year endDate.month endDate.day loi loiname type area
1 2016         7             31          1   2665    1    319.6654
2 2017         7             31          1   2665    1    265.0199
3 2018         7             31          1   2665    1    258.6662
4 2019         7             31          1   2665    1    256.3929
5 2020         7             31          1   2665    1    299.3441

In [ ]:
data <- get_dataByParameters(apiPath, prodesCerrado, classes$name, loinamesByLoi[10,]$gid, "2015-01-01", "2020-12-31") %>%
  dplyr::filter(.,type==2) %>%
  dplyr::filter(.,endDate.year!=2000) %>%
  dplyr::select(name, clazz, startDate.year, endDate.year, area)

data

In [ ]:
library(ggplot2)

ggplot(data, aes(x=as.factor(endDate.year), y=area, fill=clazz)) +
  geom_text(aes(label=as.numeric(round(data$area, 2))), vjust=-0.5, hjust=0.3, size = 4) +
  geom_bar(stat = "identity", width = 0.8, fill = "#008080") +
  scale_x_discrete("Year", labels = as.character(data$endDate.year), breaks = data$endDate.year) +
  theme(axis.text.x = element_text(angle = 45, vjust = 0.5)) +
  labs(colour = "Date") + labs(x = "Years") + labs(y = "Areas (km²)") +
  labs(title = loinamesByLoi[10,]$loiname) + labs(fill = "class")